body {
  background: #272822;
  color: #e8e8e2;
  font-family: "Noto Sans", sans-serif;
  width: 860px; margin-right: auto; margin-left: auto;
  max-width: 100%;
  margin-top: 45px;
}

@media only screen and (max-width: 680px) {
  width: 100%; 
}

button {
  font-size: .85em;
  background: #4f4e3f;
  color: #ddd;
  border: none;
  padding: .25em .5em .25em .5em;
}

button:hover {
  background: #5a5841;
  cursor: pointer;
}

textarea, input {
  font-size: 1em;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #4f4e3f;
  background: #4f4e3f;
  color: #f5f5f5;
}

textarea {
  width: 100%;
}

input {
  width: 80%;
}

a {
  color: #65d7ed;
  text-decoration: none;
}

a:hover {
  color: #f92772;
}

a:hover img {
  border: 1px solid #f92772;
}

.material-symbols-outlined { color: #ccc; vertical-align: middle;}

#navbar {
  padding-top: .5em;
  padding-left: 1em;
  padding-bottom: .5em;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: #3e3d31;
  border-bottom: 1px solid #4f4e3f;
}

.message {
  padding: .75ex;
  background: #3e3d31;
  border: 1px solid #4f4e3f;
  margin-top: -1px;
  min-height: 35px;
}

.message, .message > * {
  animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pubkey { 
  background-image: linear-gradient(to right, #65d7ed, #f92772); 
  background-clip: text; 
  color: transparent;
}

.avatar, .avatar_small {
  float: left;
  border-radius: 100%; 
  margin-right: 5px; 
  object-fit: cover;
  border: 1px solid #4f4e3f;
}

.avatar {
  height: 45px; 
  width: 45px; 
}

.avatar_small { height: 28px; width: 28px;}

.avatarlink { font-weight: 600; color: #ccc;}
.unstyled { color: #ccc;}
