#scroller {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #333;
  color: cyan;
  font-family: monospace;
}

textarea {
  background: #444;
  color: cyan;
  width: 100%;
}
