body {
  background-color: #f2f2f2;
  color: #444;
  font-family: "Source Sans 3", sans-serif;
  max-width: 100%;
  margin-top: 45px;
  margin-bottom: 10em;
}

#scroller {max-width: 680px; margin-left: auto; margin-right: auto;}

blockquote { border-left: 5px solid #f5f5f5; margin-left: none; padding-left: 10px; color: #777; }

p, h1, h2, h3, h4, h5, h6 { margin-top: 5px; margin-bottom: 5px;}

pre {
  //color: #dd1144;
  background: #f5f5f5;
  width: 100%;
  display: block;
}

code {
  background: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: bottom;
}

code, pre {
  font-family: "Roboto Mono", monospace;
  font-size: .9em;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9;
}

button {
  margin-left: 5px;
  font-size: .85em;
  background: #fff;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border: 1px solid #e4e4e4;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

hr { border: 1px solid #e4e4e4;}

button:hover {
  background: #f2f2f2;
  cursor: pointer;
}

textarea, input {
  font-size: 1em;
  font-family: "Source Sans 3", sans-serif;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  background: #f8f8f8;
  color: #555;
  padding: 5px;
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.composer { margin-left: 37px; margin-top: 0;}

textarea:hover, textarea:focus, input:hover, input:focus, {
  background: transparent;
}

textarea:focus, input:focus {
  outline: none !important;
}

textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 99%;
  height: 150px;
}

a {
  color: #045fd0;
  text-decoration: none;
}

a:hover {
  color: #8d82fe;
}

img {width: 95%; margin: 1em;}

.material-symbols-outlined { color: #666; vertical-align: middle; font-size: 18px; cursor: pointer;}

iframe {
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin-top: 5px;
  height: 275px;
}

#navbar {
  padding-top: .5em;
  padding-left: 1em;
  padding-bottom: .5em;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(248,248,248,0.5);
  border-bottom: 1px solid #eee;
  backdrop-filter: blur(10px);
}

.message {
  padding: .75em;
  background: #f8f8f8;
  border: 1px solid #f5f5f5;
  margin-top: 5px;
  min-height: 35px;
  border-radius: 5px;
  overflow: hidden;
}

.message:hover {
  border: 1px solid #eee;
}

@media (prefers-color-scheme: dark) {
  body { 
    background-color: #181818;
    color: #ccc;
  }
  #navbar {  background-color: rgba(34,34,34,0.5); border-bottom: 1px solid #333; }
  .message { background-color: #222; border: 1px solid #1e1e1e;}
  .message:hover { border: 1px solid #333;}

  textarea, input, iframe { background: #222; color: #f5f5f5; border: 1px solid #222;}

  button { color: #ccc; background: #333; border: 1px solid #444;}
  button:hover { background: #222;}
  hr { border: 1px solid #333;}
  pre, code { background: #333; color: #f5f5f5;}
  a {color: #50afe4;}
}

.content {margin-top: 5px;} 

.message, .message > * {
  animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.reply { margin-left: 1em; }

.pubkey {
  color: #9da0a4;
  font-family: monospace;
}

.avatar, .avatar_small {
  border-radius: 100%; 
  margin: 0px;
  margin-right: 10px; 
  object-fit: cover;
  vertical-align: top;
}

.avatar {
  height: 33px; 
  width: 33px; 
}

.avatar_small { height: 25px; width: 25px;}

.breadcrumbs { font-size: 1em; }

.avatarlink { font-weight: 600;}
.unstyled { color: #ccc;}
.hljs { padding: 10px; border-radius: 5px; background: #555; color: #f2f2f2;} 
